body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.menu-hidden{
  display: none;
}
p{
  text-align: center;
  margin: 0;
}

h2{
  margin: 1em 0 0.5em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.15em;
}

header{
  background-color: #b14141;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  color: white;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.7);
  height: 4em;
}
h1{
  font-family: 'Montserrat', sans-serif;
  margin: 0.5em 0;
  line-height: 1;
  text-shadow: 0 0.05em 0.2em rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.25em;
  padding-left: 0.25em;
}

button[name="good"]{
  background-color: #3fc47a;
  box-shadow: 0 0.5em 0 #30955d;
}

button[name="neutral"]{
  background-color:  #3498DB;
  box-shadow: 0 0.5em 0 #1a53ff;
}

button[name="bad"]{
  background-color: #f45353;
  box-shadow: 0 0.5em 0 #b14141;
}

button{
  margin: 0.5em;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 0.5em;
  padding: 0.75em 2em;
  color: #ffffff;
  transition: all 50ms ease-out;
}

.likebutton{
  margin: 0.5em auto 0;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: bold;
  outline: none;
  border-radius: 0.5em;
  padding: 1em;
  transition: all 50ms ease-out;
  border: solid #3498DB medium;
  text-align: center;
}


section{
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fefefe;
  transition: transform 1s 0.4s ease-out;
  padding: 4em 1em 1em;
}

#numero-jugadors{
  width: 2em;
  font-size: 1.5em;
  text-align: center;
  padding: 0.25em 0;
  letter-spacing: 0;
}

.fletxa{
  background-color: transparent !important;
  color: black;
  opacity: 0.8;
  box-shadow: none !important;
  padding: 0.25em 0.5em;
  font-size: 2em;
  transform-origin: center center;
  border: #1a53ff  thin;
  letter-spacing: 0;
  border-radius: 0;
  margin: 0;
}
.fletxa:hover{
  transform: scale(1.5);
}
#jugador-text{
  font-size: 1.5em;
  font-weight: normal;
}
#accio-text{
  font-size: 2em;
  font-weight: lighter;
}